h3 {
  font-size: 33px;
  padding: 0 0 3%;
}
signin {
  width: 360px;
  padding: 9% 0 0;
  margin: auto;
}
form {
  margin-top: -31px;
  margin-bottom: 26px;
  position: relative;
  z-index: 3;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 12px;
  box-sizing: border-box;
  font-size: 14px;
}
.top-container {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}
.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
  z-index: 1;
  width: 100%;
  top: 0;
}
#content {
  padding: 16px;
}
#sideBar {
  width: 18%;
  float: left;
  display:inline-block;
  vertical-align:top;
  border-style: groove;
  text-decoration: none;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	color: green;
}
a:active {
	text-decoration: none;
}
#mainBar {
  width: 81%;
  float: right;
  display:inline-block;
  vertical-align:top;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
#menuMain {
  width: 82%;
  float: left;
  z-index: 1;
}
#menuButtons {
  width: 18%;
  float: right;
  display:inline-block;
  z-index: 1;
  padding: 3px;
}
#serviceHeaderBox {
  width: 100%;
  height: 45px;
  color: gray;
}
.serviceBox {
  padding: 10px;
  border-style: groove;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  font-family: "Roboto", sans-serif;
}
.announcement {
  text-align: center;
  font-size: 33px;
  font-family: "Roboto", sans-serif;
  text-decoration: ultra-expanded;
  padding: 33px;
}